@model Teacher

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Category Details</h6>
        </div>
        <div class="card-body">
            <p>Id: @Model.Id</p>
            <p>Title: @Model.Name</p>
            <p>Create time: @Model.CreatedAt</p>
            @if (Model.UpdatedAt is not null)
            {
                <p>Update time: @Model.UpdatedAt</p>
            }
            @if (Model.Courses.Count != 0)
            {
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Course item in Model.Courses)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.CourseName</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>