@model Teacher

<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Teacher Details</h6>
        </div>
        <div class="card-body">
            <p><strong>Id:</strong> @Model.Id</p>
            <p><strong>Name:</strong> @Model.Name</p>
            <p><strong>Created At:</strong> @Model.CreatedAt.ToString("MM/dd/yyyy")</p>

            @if (Model.UpdatedAt != null)
            {
                <p><strong>Updated At:</strong> @Model.UpdatedAt?.ToString("MM/dd/yyyy")</p>
            }

            @if (Model.Courses != null && Model.Courses.Any())
            {
                <h5 class="mt-4">Courses:</h5>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.Courses)
                        {
                            <tr>
                                <td>@course.Id</td>
                                <td>@course.CourseName</td>
                                <td>@course.Price</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No courses available for this teacher.</p>
            }
        </div>
    </div>
</div>
