@model List<PaymentDTO>

@{
    ViewData["Title"] = "Bütün Ödənişlər";
}

<h2>Bütün Ödənişlər</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Məbləğ</th>
            <th>Ödəniş Statusu</th>
            <th>Ödəniş Metodu</th>
            <th>Ödəniş Tarixi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>@payment.Id</td>
                <td>@payment.Amount</td>
                <td>@payment.Status</td>
                <td>@payment.Method</td>
                <td>@payment.PaymentDate</td>
            </tr>
        }
    </tbody>
</table>
