@model PaymentDTO

@{
    ViewData["Title"] = "Ödənişin Statusunu Dəyişdir";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<form method="post" asp-action="UpdateStatus">
    <input type="hidden" name="id" value="@Model.Id" />
   
   
    <button type="submit" class="btn btn-primary">Yenilə</button>
    <a href="@Url.Action("Index", "Payment")" class="btn btn-secondary">Geri</a>
</form>
